USE [master]
GO
/****** Object:  Database [NinjaManagerDB1]    Script Date: 27-10-2019 21:47:39 ******/
CREATE DATABASE [NinjaManagerDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NinjaManagerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NinjaManagerDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 27-10-2019 21:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[name] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gear]    Script Date: 27-10-2019 21:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gear](
	[ninja_idninja] [int] NOT NULL,
	[item_iditem] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ninja_idninja] ASC,
	[item_iditem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 27-10-2019 21:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[iditem] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
	[price] [int] NOT NULL,
	[category_name] [varchar](45) NOT NULL,
	[strenght] [int] NULL,
	[intelligence] [int] NULL,
	[agility] [int] NULL,
	[sold] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[iditem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ninja]    Script Date: 27-10-2019 21:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ninja](
	[idninja] [int] IDENTITY(1,1) NOT NULL,
	[gold] [int] NULL,
	[name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idninja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [fk_item_category1_idx]    Script Date: 27-10-2019 21:47:39 ******/
CREATE NONCLUSTERED INDEX [fk_item_category1_idx] ON [dbo].[Item]
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [DF_Item_price]  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [DF__item__strenght__4E88ABD4]  DEFAULT ((0)) FOR [strenght]
GO
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [DF__item__intelligen__4F7CD00D]  DEFAULT ((0)) FOR [intelligence]
GO
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [DF__item__agility__5070F446]  DEFAULT ((0)) FOR [agility]
GO
ALTER TABLE [dbo].[Item] ADD  CONSTRAINT [DF_Item_sold]  DEFAULT ('no') FOR [sold]
GO
ALTER TABLE [dbo].[Ninja] ADD  DEFAULT ('3000') FOR [gold]
GO
ALTER TABLE [dbo].[Gear]  WITH CHECK ADD  CONSTRAINT [fk_ninja_has_item_item1] FOREIGN KEY([item_iditem])
REFERENCES [dbo].[Item] ([iditem])
GO
ALTER TABLE [dbo].[Gear] CHECK CONSTRAINT [fk_ninja_has_item_item1]
GO
ALTER TABLE [dbo].[Gear]  WITH CHECK ADD  CONSTRAINT [fk_ninja_has_item_ninja1] FOREIGN KEY([ninja_idninja])
REFERENCES [dbo].[Ninja] ([idninja])
GO
ALTER TABLE [dbo].[Gear] CHECK CONSTRAINT [fk_ninja_has_item_ninja1]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [fk_item_category1] FOREIGN KEY([category_name])
REFERENCES [dbo].[Category] ([name])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [fk_item_category1]
GO
USE [master]
GO
